h1 {
	color: gold;
}

table, th, td {
	border: 1px solid black;
	font-family: Arial, sans-serif;
	text-align: center;
}

/* Form */

form section {
  margin: 20px 0;
}

form p {
  margin: 0;
}

form textarea {
  display: block;
  margin: 5px 0;
}

form .submit input {
  height: 30px;
  width: 80px;
  display: block;
  margin: 40px auto;
}
